* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  .Navbar{
	height: 100px;
	width: 100%;
	background-color: #282C34;
	color:#4e545f ;
	display: flex;
	justify-content: space-around;
	min-height: 8vh;
	/* position: absolute; */
	align-items: center;
	/* position: sticky; */
  }
  .logo{
	width:180px;
	height: 99px;
	display: inline;
  }
  .link{
	color:#8f9091 ;
	text-decoration: none;
	font-size: 15px;
	width: 100%;
	font-weight: bold;
  }
  .link:hover{
  font-size: 16px;
  text-decoration: none;
  color:white ;
  }
  .hamburger-toggle{
	cursor: pointer;
	color: #8F9091;
	display: none;
  }
  @media screen and (max-width: 1080px) {
	body{
	  overflow-x: hidden;
	}
	 .hamburger-toggle{
	   display: block;
	 }
	 .link{
	   position: absolute;
	   right: 0px;
	   display: flex;
	   flex-direction: column;
	   height: 90vh;
	   align-items: center;
	   width: 100%;
	   top: 3vh;
	   background-color: #282C34;
	   font-size: 30px;
	   transform: translate(100%);
	   transition: transform 0.5s eas-in;
	 }
	 /* .active{
	  transform: translate(0%);
	 } */
  }